* {
    margin: 0%;
    padding: 0%;
}
/* the body */
.container {
    height: 100vh;
    width: 100%;
    /* background-image: url(./images/backgroundimage.JPG); */
    background-color: rgb(243, 239, 239);
    background-blend-mode: multiply;
    background-position: right;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing:border-box;
    position: relative;
}

/* NAVBAR */

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

/* logo */
.logo {
    width: 160px;
    cursor: pointer;
}

/* cart */
.cart {
    width: 40px;
    cursor: pointer;
}

/* nav html element */
nav {
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}
.content h1 {
    font-size: 50px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}

/* authentication */

.authentication {
    flex: 1;
    padding-left: 60px;
    position:absolute;
    right: 0;
}

.authentication ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 10px;

}

.authentication ul li a {
    text-decoration: none;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
}

.content p {
    font-size: 20px;
    color: #6a7199;
}

.content {
    margin-top: 10%;
    margin-left: 10%;
}

.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0, 15);
}

.arrow-icons {
    margin-top: 40px;
    display: flex;
}

.arrow-icons img {
    width: 40px;
    margin-right: 25px;
}

.feature-img {
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.social-links {
    /* transform: rotate(-90deg); */
    position: absolute;
    left: 10px;
    bottom: 0;
    right: 180px;
}

.social-links * {
    color: #6a7199;
    text-decoration: none;
    padding-right: 20px;
    font-size: 14px;
}