@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.flex-container1 {
    display: grid;
    flex-direction: column;
}
.flex-container1 .Navbar-section {
    border-style: outset;
    height: 70px;
    margin-top: 0;
    padding: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    margin: auto;
    color: white;
    position: fixed;
    grid-template-columns: 1fr 2fr;
}

.flex-container1 .body-section {
    background-color: darkgray;
    height: 645px;
    border-style: inset;
    width: 100%;
}

.flex-container1 > div {
    /* background-color: #f1f1f1; */
    margin : 2px;
    /* padding: 20px; */
    /* font-size: 30px; */
  }


  body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }
    h2 {
    margin: 0 auto;
    font-size: 35px;
    margin: 10px;
    }
    .flex-container {
    /* In order to use flex-box we need to first set our display property */
    display: flex;
    /* center the container horizontally */
    justify-content: center;
    /* this will center content vertically */
    align-items: center;
    /* tells the container to align the children in columns rather than rows */
    }
    .flex-column {
    height: 100%;
    width: 100%;
    flex-direction: column;
    }
    .flex-wrap {
    /* tells the container to drop down once it reaches max-width */
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
    }
    .square {
    border: 2px solid rgba(0, 0, 0, .75);
    height: 140px;
    width: 140px;
    }
    #reset-button {
    text-align: center;
    color: white;
    font-size: 20px;
    /* border: 1px solid red; */
    height: 55px;
    width:auto;
    margin: 10px;
    background-color: black;
    }
#reset-button:hover {
    background-color: red;
}

#board {
    background-color: aliceblue;
    border-color: black;
}