<div>
  <h1 class="font-bold text-4xl">MAKE A REQUEST</h1><br>
  <form method = "POST" action = "">
    <p>
      <input type = "text" name = "character">
    </p>
    <br>
    <p>
      <input type="submit" value="submit" class = "custom-link"> | <input type="submit" value="cancel" class = "custom-link">
    </p>
  </form>
</div>
