<div>
  <h1 class="font-bold text-4xl">ADD A REVIEW</h1><br>
  
  <form method = "POST" action = "/reviews/create" enctype="multipart/form-data">
    <p>
      <input type = "text" name = "character" placeholder = "WRITE A FEEDBACK">
    </p>
    <br>
    <p>
      <input type="file" placeholder = "ADD A PICTURE" name="media" class="custom-file-input" >
    </p>
    <br>
    <input type="submit" value="submit" class = "custom-link"> | <input type="submit" value="cancel" class = "custom-link">
  </form>


</div>
