<% unless !comment.persisted? %>
  <div id="<%= dom_id comment %>">
    <p>
      <strong>Author:</strong>
      <%= comment.author %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.comment %>
    </p>
  </div>
<% end %>
