 <form accept-charset="UTF-8" action="/forms" method="post">
    <label for="query">Search for:</label>
    <input id="query" name="query" type="text" />
    <input name="commit" type="submit" value="search" data-disable-with="Search" />
  </form>
<br>
<br>
   <%= form_with(url: "/forms", method: "post", data: { turbo: false} ) do %>
    <%= label_tag(:query, "Search for:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
  <% end %>