 <form accept-charset="UTF-8" action="/forms" method="post">
    <label for="query">Search for:</label>
    <input id="query" name="query" type="text" />
    <input name="commit" type="submit" value="search" data-disable-with="Search" />
  </form>