<p style="color: green"><%= notice %></p>

<h1>Travels</h1>

<div id="travels">
  <% @travels.each do |travel| %>
    <%= render travel %>
    <p>
      <%= link_to "Show this travel", travel %>
    </p>
  <% end %>
</div>

<%= link_to "New travel", new_travel_path %>
