.split {
    height : 100%;
    width : 50%;
    position : fixed;
    z-index : 1;
    top : 0;
    overflow-x : hidden;
    padding-top: 20%;
}

.left {
    left : 0;
    background-color: #111;
}

.right {
    right : 0;
    background-color: wheat;
}

.centered {
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-style :solid;
    padding: 10px;
    width: 95%;
}

.top {
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}