<h1>Filters</h1>
<form method = "POST", action = "/tshirt/index" enctype="multipart/form-data">
    <table>
        <tr>
            <td>COLOR</td>
            <td>size</td>
            <td>CHARACTER</td>
        </tr>
        <tr>
        <td>
            <input type = "checkbox" name = "selectall" value = "select all"> select all<br>
            <input type = "checkbox" name = "Blue" value = "Blue"> Blue<br>
            <input type = "checkbox" name = "Black" value = "Black"> Black<br>
            <input type = "checkbox" name = "Red" value = "red"> Red<br>
            <input type = "checkbox" name = "white" value = "white"> White<br>
        </td>
        <td>
            <input type = "checkbox" name = "small" value = "small"> S<br>
            <input type = "checkbox" name = "medium" value = "medium"> M<br>
            <input type = "checkbox" name = "extrasmall" value = "extrasmall"> XS<br>
            <input type = "checkbox" name = "extralarge" value = "extralarge"> XL<br>
            <input type = "checkbox" name = "extraextralarge" value = "extraextralarge"> XXL<br>
            <input type = "checkbox" name = "extraextraextralarge" value = "extraextraextralarge"> XXXL<br>
        </td>
        <td>
            <input type = "checkbox" name = "ironman" value = "ironman"> Iron Man<br>
            <input type = "checkbox" name = "thor" value = "thor"> Thor<br>
            <input type = "checkbox" name = "blackpanther" value = "blackpanther"> Black Panther<br>
            <input type = "checkbox" name = "spiderman" value = "spiderman"> Spider Man<br>
            <input type = "checkbox" name = "captainamerica" value = "captainamerica"> Captain-America<br>
            <input type = "checkbox" name = "hulk" value = "hulk"> Hulk<br>
        </td>
        </tr>
    </table>
    <div>
        <input type= "submit" value = "submit" class = "custom-link">
    </div>
</form>