<h1>Create a new T-shirt</h1>

<div>
  <form method="POST" action="/tshirt/store" enctype="multipart/form-data" class="post-form">
            <%= token_tag %>
    
            <div class="form-group">
                <label for="character">character</label>
                <input type="text" name="character" class="form-control">
            </div>
            <div>
                <label for = "color">color</label>
                <input type="text" name="color" class = "form-control">
            </div>
            <div class="form-group">
                <label for="media">Tshirt image</label>
                <input type="file" name="media" class="form-control media-upload">
            </div>
            <div class="form-group">
                <label for="size">size</label>
                <input type="number" name="size" class="form-control" />
            </div>
            <%# <div class="form-group">
                <label for="body">Post Content</label>
                <textarea name="body" class="form-control" cols="30" rows="10"></textarea>
            </div> %>
            <div class="from-group">
                <div><input type="submit" value="Create tshirt"></div>
            </div>
  </form>
</div>
