<div id="<%= dom_id admin %>">
  <% if action_name != "show" %>
    <%= link_to "Show this admin", admin, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this admin', edit_admin_path(admin), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
